@font-face {
   font-family: "Weissenhof Grotesk";
   src: url("fonts/Weissenhof Grotesk Bold.woff") format("woff"), url("fonts/Weissenhof Grotesk Bold.eot") format("embedded-opentype"), url("fonts/Weissenhof Grotesk Bold.otf") format("opentype");
   font-weight: bold;
   font-style: normal;
}
@font-face {
   font-family: "Open Sans";
   src: url("fonts/Open Sans Italic.woff") format("woff"), url("fonts/Open Sans Italic.eot") format("embedded-opentype"), url("fonts/Open Sans Italic.ttf") format("truetype"), url("fonts/Open Sans Italic.svg") format("svg");
   font-weight: normal;
   font-style: italic;
}
@font-face {
   font-family: "Open Sans";
   src: url("fonts/Open Sans Regular.ttf") format("truetype");
   font-weight: normal;
   font-style: normal;
}
@font-face {
   font-family: "Open Sans";
   src: url("fonts/Open Sans Bold.woff") format("woff"), url("fonts/Open Sans Bold.eot") format("embedded-opentype"), url("fonts/Open Sans Bold.ttf") format("truetype"), url("fonts/Open Sans Bold.svg") format("svg");
   font-weight: bold;
   font-style: normal;
}
@font-face {
   font-family: "Noticia Text";
   src: url("fonts/Noticia Text Bold.woff") format("woff"), url("fonts/Noticia Text Bold.eot") format("embedded-opentype"), url("fonts/Noticia Text Bold.ttf") format("truetype"), url("fonts/Noticia Text Bold.svg") format("svg");
   font-weight: bold;
   font-style: normal;
}
@font-face {
   font-family: "Noticia Text";
   src: url("fonts/Noticia Text.woff") format("woff"), url("fonts/Noticia Text.eot") format("embedded-opentype"), url("fonts/Noticia Text.ttf") format("truetype"), url("fonts/Noticia Text.svg") format("svg");
   font-weight: normal;
   font-style: normal;
}
@font-face {
   font-family: "Noticia Text";
   src: url("fonts/Noticia Text Italic.woff") format("woff"), url("fonts/Noticia Text Italic.eot") format("embedded-opentype"), url("fonts/Noticia Text Italic.ttf") format("truetype"), url("fonts/Noticia Text Italic.svg") format("svg");
   font-weight: normal;
   font-style: italic;
}
@font-face {
   font-family: "Open Sans Light";
   src: url("fonts/Open Sans Light.woff") format("woff"), url("fonts/Open Sans Light.eot") format("embedded-opentype"), url("fonts/Open Sans Light.ttf") format("truetype"), url("fonts/Open Sans Light.svg") format("svg");
   font-weight: normal;
   font-style: normal;
}
@font-face {
   font-family: "Open Sans Light";
   src: url("fonts/Open Sans Light Italic.woff") format("woff"), url("fonts/Open Sans Light Italic.eot") format("embedded-opentype"), url("fonts/Open Sans Light Italic.ttf") format("truetype"), url("fonts/Open Sans Light Italic.svg") format("svg");
   font-weight: normal;
   font-style: italic;
}
@font-face {
   font-family: "Weissenhof Grotesk";
   src: url("fonts/Weissenhof Grotesk.woff") format("woff"), url("fonts/Weissenhof Grotesk.eot") format("embedded-opentype"), url("fonts/Weissenhof Grotesk.otf") format("opentype");
   font-weight: normal;
   font-style: normal;
}